p { 
    font-family: "Courier New", monospace;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline red solid 5px;

  }

  p { 
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
  }
  /* 
  
  text-transform:
  uppercase , lowercase, capitalize , none

  text-decoration:
  text-decoration-line, text-decoration-color, text-decoration-style and text-decoration-thickness properties. 

  for 
  text-decoration-line: 
  underline, overline, line-through and none. 

  for
  text-decoration-style
  solid,  double,  dotted,  dashed  and  wavy.

  if the decoration style not defiend will use solid by default

  */